* {
  box-sizing: border-box;
}

body {
  background-image: url("./nature_robot.jpg");
}

header {
  float: center;
  text-align: center;
  margin: 2%;
  padding: 0.05%;
}

h1 {
  font-size: 40px;
  color: gold;
}

#micara {
  width: 12%;
  border-radius: 50%;
}

