* {
  box-sizing: border-box;
  color: blue;
}

body {
  background-image: url("./nature_robot.jpg");
}

header {
  float: center;
  text-align: center;
  margin: 2%;
  padding: 0.05%;
}

nav {
  margin: 2%;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
}

nav ul li {
  display: block;
  float: left;
  margin: 1%;
  color: violet;
}

h1 {
  font-size: 40px;
}

#micara {
  width: 12%;
  border-radius: 50%;
}

