* {
  box-sizing: border-box;
  color: purple;
}

header {
  background-color: darkgrey;
  float: center;
  text-align: center;
  margin: 2%;
  padding: 0.05%;
}

h1 {
  font-size: 40px;
}

section {
  background-color: darkgrey;
}
