* {
  box-sizing: border-box;
  color: purple;
  }

body {
  width: 100%;
}

header {
  background-color: darkgrey;
  float: center;
  text-align: center;
  margin: 2%;
  padding: 0.05%;
}

h1 {
  font-size: 40px;
  color: gold;
}

#micara {
  width: 12%;
  border-radius: 50%;
}

section {
  background-color: darkgrey;
}

